.contact img {
  max-width: 100%;
}
.contact .title {
  text-align: center;
  margin-bottom: 20px;
}
.contact .form__message {
  align-items: flex-start;
}
.contact .icon-success {
  margin-top: 2px;
}
.contact .field {
  margin-bottom: 15px;
}
.contact .field__info {
  margin-bottom: 20px;
}
@media screen and (min-width: 960px) {
  .contact .field {
    margin-bottom: 20px;
  }
  .contact .field__info {
    margin-bottom: 30px;
  }
}
.contact__button {
  margin-top: 30px;
  text-align: center;
}
.contact__button .button {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (min-width: 960px) {
  .contact__button {
    margin-top: 40px;
  }
}
@media screen and (min-width: 960px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}
@media screen and (min-width: 960px) {
  .contact .title {
    margin-bottom: 30px;
  }
}
/* The ipad end responds to the mobile end in vertical screen */
/* @custom-media --tablet (max-width: 959px); */
/* @custom-media --gt-mobile (min-width: 751px); */
/* detectingScreen need to consider the configuration of the tablet */

/* Custom Styles */
.contact-form__wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.contact-form__wrapper .contact {
  background: var(--color-white);
  box-shadow: 0px 0px 80px -24px rgba(0, 0, 0, 0.16);
  padding: 24px 16px;
  width: 100%;
}

.contact-form__wrapper .field_title { 
  font-size: var(--body4-font-size);
  font-weight: 600;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 10px;
}

.contact-form__wrapper .field__input {
  border: 1px solid var(--color-grey-border-dark);
  border-radius: 0;
  background: var(--color-white);
  height: 56px;
  padding: 16px 20px;
}

.contact-form__wrapper .field {
  color: var(--color-grey-caption);
  font-size: var(--body4-font-size);
  font-weight: 400;
  line-height: 1.4;
}

.contact-form__wrapper .text-area {
  min-height: 144px;
}

.contact-form__wrapper .contact__button button {
  width: 100%;
}

.contact-form__wrapper .contact .field {
  margin-bottom: 24px;
}

.contact-form__wrapper .contact__button {
  margin-top: 32px;
}

.contact-form__wrapper .content_button {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.contact-form__wrapper .field:after {
  border-radius: 0;
}

.contact-form__content {
  margin-bottom: 48px;
}

.contact-form__content .page_title {
  font-size: var(--body8-font-size);
  font-weight: 700;
  line-height: 1.4;
  text-transform: capitalize;  
  margin-bottom: 16px;
}

.contact-form__content p {
  margin: 0;
}

.contact-form__content .content_title {
  font-size: var(--body6-font-size);
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 32px;
}

.contact-form__content .content_contact strong{
  font-size: var(--body6-font-size);
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 8px;
}

.contact-form__content .content_contact {
  font-size: var(--body5-font-size);
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 16px;
}

.contact-form__content .content_text {
  font-size: var(--body5-font-size);
  font-weight: 600;
  line-height: 1.4;
  margin-top: 48px;
}

.contact .field__label {
  color: var(--color-grey-caption);
  font-size: var(--body4-font-size);
  font-weight: 400;
  line-height: 1.4;
}

.field__input:focus ~ .field__label, .field__input:not(:placeholder-shown) ~ .field__label, .field__input:-webkit-autofill ~ .field__label {
  display: none;
}

@media screen and (min-width: 960px) {
  .contact__fields {
    display: block;
  }

  .contact-form__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact-form__wrapper .contact {
    padding: 48px;
    max-width: 43.16%;
  }

  .contact-form__wrapper .field__input {
    height: 54px;
  }

  .contact-form__content {
    max-width: 44.89%;
    margin-bottom: 0;
  }

  .contact-form__content .page_title {
    font-size: var(--body8-max-font-size);
    line-height: 1.3;
  }

  .contact-form__content .content_title {
    font-size: var(--body6-font-size);
    letter-spacing: 0.48px;
    text-transform: capitalize;
  }

  .contact-form__content .content_contact {
    font-size: var(--body5-font-size);
    margin-bottom: 24px;
  }
  
  .contact-form__content .content_text {
    font-size: var(--body5-font-size);
    margin-top: 72px;
  }

  .contact-form__content .content_contact strong{
    font-size: var(--body5-font-size);
  }
}