.announcement-bar {
    display: none;
}
.section-announcement-bar{
    background-color: var(--bar-bg-color);
}
.announcement-bar {
    justify-content: space-around;
    align-content: center;
    margin: 0;
}  
.announcement-content {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    position: relative;
}
.announcement-content:after{
    content: "";
    position: absolute;
    border-left: 1px solid var(--bar-text-color);
    left: 0;
    height: 100%;
}
.announcement-content:first-child:after {
    content: none;
} 
.announcement-bar.grid-col-3 .announcement-content {
    width: 33.33%;
}
.announcement-bar.grid-cols-2 .announcement-content:last-child:after {
    content: none;
} 
.announcement-text {
    margin: 0;
    color: var(--bar-text-color);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 1.42;
    letter-spacing: 0.5px;
}
  
.announcement-bar .announcement-link {
    color: var(--bar-text-color);
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.announcement-bar .announcement-link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media screen and (min-width: 960px) {
    .announcement-bar {
        display: flex;
        flex-wrap: wrap;
    }
}