.instagram-feed h2 {
    margin: 0;
    margin-bottom: 40px;

    color: #121212;
    text-align: center;
    /* font-family: Gotham; */
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.instagram-carousel {
    display: flex;
    gap: 20px;

}

.instagram-item img {
    width: 100%;
    height: auto;
}


@media screen and (min-width: 950px) and (max-width: 749px){

}

@media screen and (min-width: 750px) {
  
}