.multicolumn-section__header h2 {
    margin-bottom: 8px;
  
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
}

.multicolumn-section__header p {
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.splide__list.multimedia-list{
    padding: 0 !important;
}

.multimedia-block {
    padding: 0;
    text-align: center;
}

.multimedia-block.multimedia-none {
    padding: 0;
}

.multimedia-block img {
    width: 100%;
}

.multimedia-block h3 {
    margin: 16px 0 8px;
    font-family: var(--body-font);
    color: var(--color-secondary-grey);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    font-size: var(--body6-font-size);
}

.multimedia-block p {
    margin: 0 auto;
    margin-bottom: 10px;
    color: var(--color-secondary-grey);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}
.multimedia-block .inner-content-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 16px;
}

.multimedia-block .explore-more {
    display: inline-block;
    font-size: var(--body3-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
}
.multicolumn-section .splide__pagination.splide__pagination--ltr{
    gap: 4px;
    margin-top: 20px;
    margin-bottom: 12px;
}
.multicolumn-section .splide__pagination.splide__pagination--ltr li{
    width: 100%;
    max-width: 30px;
    height: 3px;
}
.multicolumn-section .splide__pagination.splide__pagination--ltr li .splide__pagination__page{
    border-radius: 2px;
    width: 100%;
    max-width: 30px;
    height: 3px;
    background-color: #E5DED0;
    border-color: transparent;
}
.multicolumn-section .splide__pagination.splide__pagination--ltr li .splide__pagination__page.is-active{
    background-color: #CCC2AD;
}
.multimedia-block img,
.multimedia-block.multimedia-none img{
    height: 417px;
    object-fit: cover;
}

.multicolumn_content {
    font-size: var(--body3-font-size);
}
.multimedia-block .card-link-wrapper{
    display: block;
}

@media screen and (min-width: 1400px) {
    .splide__list.multimedia-list{
        padding: 64px 92px 51px 92px !important;
    }
}

@media screen and (min-width: 960px) {
    .multimedia-block {
        text-align: center;
    }
    .splide__list.multimedia-list{
        padding: 60px 0 !important;
    }
    .multicolumn-section__header h2 {
        font-size: 20px;
    }
    .multicolumn-section__header p {
        font-size: 1.5rem;
    }
    .multimedia-block h3{
        font-size: var(--body5-font-size);
    }
    .multimedia-block .explore-more {
        font-size: var(--body4-font-size);
        font-weight: 400;
    }
}
@media screen and (min-width: 1500px) {
    .splide__list.multimedia-list{
        padding: 120px 87px !important;
    }
    .multimedia-block {
        padding: 64px 69px 0;
    }
    .multimedia-block img{
        height: 420px;
    }
    .multimedia-block.multimedia-none img{
        height: 613px;
    }
    .multimedia-block p {
        max-width: 286px;
        width: 100%;
    }
    .multimedia-block.multimedia-none p{
        max-width: 100%;
    }
}
