h2.section-list-title {
    /* font-family: Gotham; */
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
}

.blog-list-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-content: center;
    align-items: center;
}

.blog-list_media img {
    width: 100%;
    height: auto;
}

.blog-list_description p {
    color: #424551;
    /* font-family: "Open Sans"; */
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
    margin-top: 20px;
}

.blog-list_description p span {
    font-weight: 700;
}

.blog-list_description h3 {
    /* font-family: "Open Sans"; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 0;
    margin-top: 20px;
}

a.section-blog-list__button {
    margin-top: 80px;
    display: block;
    justify-self: center;
    width: 8rem;

    border-radius: 26px;
    border: 1px solid#121212;
    text-align: center;
    /* font-family: "Open Sans"; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.25rem;
    letter-spacing: 0.03125rem;
}

@media screen and (min-width: 768px) {
    .blog-list-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        align-content: center;
        align-items: center;
    }

    h2.section-list-title {
        font-size: 3rem;
        margin-bottom: 48px;
    }
    
    .blog-list_description p {
        margin-top: 24px;
    }
    
    .blog-list_description h3 {
        font-size: 1.75rem;
        margin-top: 24px;
    }
   
}

@media screen and (min-width: 960px) {
    .blog-list-content {
        grid-template-columns: repeat(3, 1fr);
    }
}