.section-rich-text {
  background-size: cover;
  background-position: center;
}

.section-rich-text__content {
  padding: 48px 24px;
  width: 100%;
}

.section-rich-text h2 {
  margin: 0;
  margin-bottom: 24px;

  /* font-family: Gotham; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.hero-section p {
  margin: 0;
  margin-bottom: 40px;
  font-size: 1.125rem;
  letter-spacing: 0.0225rem;
  /* font-family: "Open Sans"; */ 
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}

a.section-rich-text__button {
  color: #ffffff !important;
  display: inline-block;
  /* padding: 0 40px; */
  width: 15rem;
  background-color: #000;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;

  text-align: center;
  /* font-family: "Open Sans"; */
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.25rem;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section-rich-text__content {
    padding: 55px 80px;
  }

  .section-rich-text h2 {
    font-size: 3rem;
  }

  .hero-section p {
    margin-bottom: 48px;
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
  }
}