.collection-list-section__header h2 {
  margin: 0;
  margin-bottom: 8px;

  color: #121212;
  /* font-family: Gotham; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: capitalize;
}

.collection-list-section__header p {
  margin: 0;
  margin-bottom: 32px;

  /* font-family: "Open Sans"; */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.collection-category img {
  background-size: cover;
  background-position: center;
  width: 100%;
    object-fit: cover;
    height: 393px;
}

.collection-category h3 {
  margin: 0;
  margin-top: 24px;

  text-align: center;
  /* font-family: "Open Sans"; */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (min-width: 950px) and (max-width: 749px){

}

@media screen and (min-width: 768px) {
  .collection-list-section__header h2 {
    font-size: 3.5rem;
  }

  .collection-list-section__header p {
    margin-bottom: 64px;
    font-size: 1.5rem;
  }


  .collection-category h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 480px) {
  .collection-category {
    padding: 14px;
  }
}
