.hero-section {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
}

.hero-section_image img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-section_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
}

.hero-section__content {
  max-width: 100%;
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%); */
  padding: 24px;

}

.hero-section h2 {
  margin: 0;
  margin-bottom: 8px;

  /* font-family: Gotham; */
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.hero-section h2 strong {
  font-weight: 700;
}
.hero-section p {
  margin: 0;
  margin-bottom: 40px;
  font-size: 1.125rem;
  letter-spacing: 0.0225rem;
  /* font-family: "Open Sans"; */ 
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: capitalize;
}

a.hero-section__button {
  display: inline-block;
  width: 13rem;
  /* padding: 0px 40px; */
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;

  text-align: center;
  /* font-family: "Open Sans"; */
  font-size: 1rem;
  font-style: normal;
  line-height: 3.75rem;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
}

@media screen and (min-width: 950px) {
  .hero-section__content {
    max-width: 50%;
  }

  .hero-section h2 {
    font-size: 4rem;
  }

  .hero-section p {
    margin-bottom: 48px;
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
  }
}