.top-trending-products h2 {
  margin-bottom: 32px;

  /* font-family: Gotham; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: capitalize;
}

.product-info {
  padding: 16px 24px;
}

.product-item {
  background: var(--Background, #FFF);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
}

.product-image img {
  width: 100%;
  height: auto;
  background: lightgray 50% / cover no-repeat;
}

.product-info .title {
  margin: 0;
  margin-bottom: 8px;
  color: #121212;
  font-family: "Open Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

.product-info .size {
  margin: 0;
  margin-bottom: 10px;

  color: #424551;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
}

.product-info .money {
  margin: 0;  
  color: #121212;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  float: left;
}

a.shop-now-button {
  margin: 0;
  text-decoration: none;

  color: #121212;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  text-transform: uppercase;
  float: right;
}

@media screen and (min-width: 950px) and (max-width: 749px){

}

@media screen and (min-width: 768px) {
  .top-trending-products h2 {
    font-size: 3rem;
  }

}