.my-slider-progress {
    margin-top: 2rem;
    background: #F3F0EA;
}

.my-slider-progress-bar {
    background: #38352D;
    height: 8px;
    transition: width 400ms ease;
    width: 0;
}

button.splide__arrow {
    position: absolute;
    top: 45%;
    z-index: 10;
    cursor: pointer;
    border-radius: 100%;
    background: var(--splide-button);
    border: transparent;
    align-items: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    justify-content: center;
}

button.splide__arrow:hover{
    background: var(--color-grey-dark);
}

button.splide__arrow svg{
    height: 16px;
    width: 16px;
}
button.splide__arrow svg{
    fill: var(--color-white);
}
button.splide__arrow.splide__arrow--prev {
    left: -6px;
    transform: translateY(-50%) rotate(180deg);
}

button.splide__arrow.splide__arrow--next {
    right: -6px;
    transform: translateY(-50%);
}

ul.splide__pagination {
    padding: 0;
}
button.splide__arrow[disabled]{
    cursor: not-allowed;
    background-color: var(--color-grey-light);
}
button.splide__arrow[disabled] svg path{
    fill:var(--splide-button-disabled);
}
@media screen and (min-width: 960px) {
    button.splide__arrow {
        padding: 16px;
        width: 56px;
        height: 56px;
    }
    button.splide__arrow.splide__arrow--prev {
        left: -28px;
    }
    button.splide__arrow.splide__arrow--next {
        right: -28px;
    }
}

@media (max-width: 640px) {
    .splide__slide.mb-slide--show-half {
        width: calc(100% + -24%) !important;

    }
}