.my-slider-progress {
    margin-top: 2rem;
    background: #F3F0EA;
}

.my-slider-progress-bar {
    background: #38352D;
    height: 8px;
    transition: width 400ms ease;
    width: 0;
}

button.splide__arrow.splide__arrow--prev,
button.splide__arrow.splide__arrow--next  {
    position: absolute;
    top: 45%;
    z-index: 10;
    cursor: pointer;
    border-radius: 100%;
    background: #F4F4F4;
    padding: 14px;
    align-items: center;
}

button.splide__arrow.splide__arrow--next svg ,
button.splide__arrow.splide__arrow--prev svg {
    height: 14px;
    width: 14px;
    color: #121212;
}

button.splide__arrow.splide__arrow--prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
}

button.splide__arrow.splide__arrow--next {
    right: 0;
    transform: translateY(-50%);
}

ul.splide__pagination {
    padding: 0;
}

@media screen and (min-width: 768px) {
    button.splide__arrow.splide__arrow--prev,
    button.splide__arrow.splide__arrow--next  {
        padding: 14px;
    }
    
    button.splide__arrow.splide__arrow--next svg ,
    button.splide__arrow.splide__arrow--prev svg {
        height: 20px;
        width: 20px;
    }
    button.splide__arrow.splide__arrow--prev {
        left: -21px;
        
    }
    
    button.splide__arrow.splide__arrow--next {
        right: -21px;
    }
}